<app-server-status></app-server-status>
<app-manual></app-manual>
<mat-card>
  <mat-card-title>Current Weather Information</mat-card-title>
  <form class="example-form">
    <mat-form-field>
      <input matInput placeholder="City" value="Berlin">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Update Intervall" value="60">
    </mat-form-field>

    <button mat-button color="primary">Submit</button>
    <button mat-button color="warn">Cancel</button>
  </form>
</mat-card>
