<div>
  <form [formGroup]="automaticUpdate">
    <mat-form-field>
      <input matInput placeholder="Cityname" formControlName="city" />
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Interval" formControlName="interval" type="number" />
    </mat-form-field>
    <button [disabled]="!automaticUpdate.valid || updateInProgress" mat-button color="accent" (click)="submitAutomaticUpdate()">Start</button>
    <button [disabled]="!updateInProgress" mat-button color="warn" (click)="stopUpdate()">Stop</button>
  </form>
</div>

<div *ngIf="currentWeather != null" class="weatherWidget">
  <app-current-weather-view [currentWeather]="currentWeather"></app-current-weather-view>
</div>
